// ======HELPERS=======

// -----VARIABLES-----

// ------Color Variables-------
$color-white: #fff;
$color-black: #000;
$color-grey: #777;
$color-grey-dark: color.adjust($color-grey, $lightness: -25%);
$color-grey-light: color.adjust($color-white, $lightness: 7.5%);
$color-success-1: #4caf50;
$color-success-2: #dfd;
$color-error-1: #f44336;
$color-error-2: #fdd;
$color-error-3: #e91e63;
$color-warning-1: #ffeb3b;
$color-warning-2: #ffc;
$color-info-1: #2196f3;
$color-info-2: #dff;
$primary: #ff004f;
$secondary: #262626;
$accent: #2754b7;
$text-1: $color-white;
$text-2: #ababab;
$text-3: color.adjust($primary, $lightness: 20%);
$text-4: #343434;
$text-5: color.adjust($primary, $lightness: -20%);
$body: #080808;
$color-map: (
  primary: $primary,
  secondary: $secondary,
  accent: $accent,
  success: $color-success-2,
  text-1: $text-1,
  text-2: $text-2,
  text-3: $text-3,
  text-4: $text-4,
  text-5: $text-5,
  body: $body,
);

// ------FONTS-------

// -----Font Family-----
$font-primary: 'Poppins', arial, sans-serif;

// -----Font Weight Map-----
$font-weight-map: (
  extra-bold: 900,
  black: 800,
  bold: 700,
  semi-bold: 600,
  medium: 500,
  regular: 400,
  light: 300,
  extra-light: 200,
  thin: 100,
);

// -----Font Size Map-----
$font-size-map: (
  hero: 5rem,
  h1: 4rem,
  h2: 2.4rem,
  h3: 1.87rem,
  normal: 1.6rem,
  small: 1.5rem,
  smaller: 1.3rem,
  big: 1.9rem,
  bigger: 2.1rem,
);

// -----Spaces: Margin | Padding | Sizes-----
$breakpoint-map-up: (
  x-large: 140rem,
  large: 102.4rem,
  medium: 68rem,
  small: 48rem,
);
$breakpoint-map-down: (
  large: 139.9rem,
  medium: 102.3rem,
  small: 67.9rem,
);

// -----Height & Width Variables-----
$height-header: 100vh;
$height-navbar: 6rem;
$height-footer: 6rem;
$width-content-lg: 82%;
$width-content-md: 90%;
$width-content-sm: 114rem;

// -----Spacing Variables-----

// rems
$sp-0-25: 0.25rem;
$sp-0-5: 0.5rem;
$sp-0-75: 0.75rem;
$sp-1: 1rem;
$sp-1-25: 1.25rem;
$sp-1-5: 1.5rem;
$sp-2: 2rem;
$sp-3: 3rem;

// ems
$spe-0-25: 0.25em;
$spe-0-5: 0.5em;
$spe-0-75: 0.75em;
$spe-1: 1rem;
$spe-1-25: 1.25em;
$spe-1-5: 1.5em;
$spe-2: 2em;
$spe-3: 3em;

// -----Z-Index Variables-----
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;

// ------FUNCTIONS-------
@function color($colr) {
  @return map-get($map: $color-map, $key: $colr);
}

@function font-weight($weight) {
  @return map-get($map: $font-weight-map, $key: $weight);
}

@function font-size($size) {
  @return map-get($map: $font-size-map, $key: $size);
}

@function screen-size($size) {
  @return map-get($map: $breakpoint-map-down, $key: $size);
}

// ------MIXINS-------

@mixin google-font($font, $weight-string) {
  $font: $font;
  /* stylelint-disable-next-line no-invalid-position-at-import-rule */
  @import 'https://fonts.googleapis.com/css2?family=#{$font}:wght@#{$weight-string}&display=swap';
}



// ======BASE======

// -----TYPOGRAPHY-----

@include google-font('Poppins', '400;700');

@font-face {
  font-family: 'Veteran Typewriter';
  font-weight: 400;
  src:
    url('../fonts/veteran_typewriter/veteran_typewriter.ttf')
      format('embeded-opentype'),
    url('../fonts/veteran_typewriter/veteran_typewriter.ttf') format('woff'),
    url('../fonts/veteran_typewriter/veteran_typewriter.ttf') format('woff2'),
    url('../fonts/veteran_typewriter/veteran_typewriter.ttf') format('truetype'),
    url('../fonts/veteran_typewriter/veteran_typewriter.ttf') format('svg');
}

// -----GLOBALS-----

:root {
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  font-size: font-size(normal);
  background-color: color(body);
  color: color(text-1);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0.67rem 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

/* -----REUSEABLE CLASSES----- */
section {
  padding: $sp-2 * 4 0;

  &__title {
    display: inline-block;
    font-size: font-size(h1);
    font-weight: 600;
    color: $color-white;
    position: relative;
  
    &::after {
      content: '';
      width: 100%;
      height: 2px;
      background: color(primary);
      position: absolute;
      left: 0;
      bottom: -6px;
      transition: 0.25s;
    }
  }
}

.container {
  padding: 10px 10%;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hidden {
  display: none;
}

.scrolled-nav {
  background-color: color(text-4) !important;
}
